@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

#content {
    display: grid;
    grid-template-rows: 1fr 8.5fr 1fr;
    width: 100vw;
    height: 100vh;
    background: center url("./emma-houghton-vXgLGbN-VDc-unsplash.jpg");
    color: white;
    font-weight: bolder;
}

nav {
    display: grid;
    place-content: center;
    position: relative;
    right: 18px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 52px;
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

#main-content {
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    display: grid;
    justify-content: center;
}



footer {
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    position: absolute;
    bottom: -8px;
    height: 2.5rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#githubImg {
    position: relative;
    bottom: 4px;
    width: 24px;
    height: auto;
}